h1{color: deepskyblue;
    background: #eeeeee;
    
    padding: 10px;
    text-align: center;   
}

.header{
    background-color:navajowhite;
    padding: 10px;
    text-align: center;
}

.main{
    background-color: cadetblue;    
}

.img_box{
    display: flex;
	flex-wrap:wrap;
}

.img{
    width: calc(100%/3);/*←画像を横に4つ並べる場合*/
	padding:0 5px;/*←画像の左右に5pxの余白を入れる場合*/
	box-sizing:border-box;
    max-width:100%; /*画像のはみだしを防ぐ*/
	height: auto; /*画像の縦横比を維持 */
}

.img p {
    font-size: 13px;
    color: dimgray;
  }
.footer{
    background-color: black;
}

.Muscle{
color: burlywood;
}

.programing{
    color: greenyellow;
}

.sea{
    color: aqua;
}